@import "tailwindcss";

@theme {
  --animate-spin-3d: spin3d 20s linear infinite;

  @keyframes spin3d {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}

@layer utilities {
    .preserve-3d {
        transform-style: preserve-3d;
    }
}
